{% extends '@App/base.html.twig' %}

{% block title %}{{ parent() }} - List of news{% endblock title %}

{% block body %}
    <h1>List of news</h1>

    {% if lastNews %}
        <h2>Last Updated news</h2>
        <a href=""><h3>{{ lastNews.title }}</h3></a>
        <p><span class="glyphicon glyphicon-time"></span> &nbsp;{{ lastNews.createdAt|date }} - Last modification à {{ lastNews.updatedAt|date }}</p>
        <p><span class="glyphicon glyphicon-user"></span> &nbsp;{{ lastNews.author }}</p>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('edit_news', {'newsId': lastNews.id}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</a>
            <form action="{{ path('delete_news', {'newsId': lastNews.id}) }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token("delete") }}">
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> &nbsp;Delete</button>
            </form>
        {% endif %}
        <hr>
    {% endif %}

    {% for news in newsList %}
        <a href=""><h3>{{ news.title }}</h3></a>
        <p>{{ news.content }}</p>
        <p><span class="glyphicon glyphicon-time"></span> &nbsp;{{ news.createdAt|date }} - Last modification à {{ news.updatedAt|date }}</p>
        <p><span class="glyphicon glyphicon-user"></span> &nbsp;{{ news.author }}</p>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('edit_news', {'newsId': news.id}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</a>
            <form action="{{ path('delete_news', {'newsId': news.id}) }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token("delete") }}">
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> &nbsp;Delete</button>
            </form>
        {% endif %}
        <hr>
    {% else %}
        <h2>At this time, there is nos news on the blog :'(</h2>
        <p>See you later!</p>
    {% endfor %}
{% endblock body %}