{% extends '@App/base.html.twig' %}

{% block title %}{{ parent() }} - News{% endblock title %}

{% block body %}
    <h1>List of news</h1>

    {% for news in newsList %}
        <h2>{{ news.title }}</h2>
        <p>{{ news.content }}</p>
        <p>{{ news.createdAt|date }}</p>
        <p>{{ news.updatedAt|date }}</p>
        <a href="{{ path('edit_news', {'newsId': news.id}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</a>
        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> &nbsp;Delete</a>
        <hr>
    {% endfor %}
{% endblock body %}