<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('hello_index', {'name': 'blabla'}) }}">Symfony Flex Blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ path('news_list') }}">News</a></li>
            <li><a href="{{ path('create_news') }}">Add News</a></li>
            <li><a href="{{ path('albums_list') }}">Albums</a></li>
            <li><a href="{{ path('create_albums') }}">Add Albums</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>